<!DOCTYPE html>
<html>
    <head>
        <title>Isi Data :D</title>
    </head>
        
    <body>
        <form action="" method="POST">
            <table class="table">
                <tbody>
                    {{ form.as_table }}
                    <tr>
                        <th></th>
                        <td>
                            {% csrf_token %}
                            <button class="btn btn-outline-primary" type="submit" name="Simpan">Simpan</button>
                            <a class="btn btn-outline-danger" href="{% url 'kegiatanku:index'%}" name="Cancel">Batal</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>