<!DOCTYPE html>
<html>
    <head>
        <title>Kegiatanku</title>
    </head>

    <body>
        <h1>Responden</h1>
        <table border="solid">
            <tr>
                <th>Responden</th>
                <th>Domisili</th>
                <th>Kegiatan</th>
            </tr>
            {% for i in orang %}
            <tr>
                <td>{{i.peserta_kegiatan.nama}}</td>
                <td>{{i.peserta_kegiatan.domisili}}</td>
                <td>{{i.nama_kegiatan}}</td>
            </tr>
            {% endfor %}
        </table>

        <a href="{% url 'kegiatanku:tambah' %}">Tambah Peserta</a>
        <a href="{% url 'kegiatanku:tambahKegiatan' %}">Tambah Kegiatan</a>
    </body>
</html>